// colors

$color-1: #2c343b; // 
$color-2: #d44457; //
$color-3: #ffffff; // White

// fonts 

$primary-font: 'Open Sans', sans-serif;

// header height 

$header-S: 50px;
$header-M: 70px;

// intro height

$intro-height-S: 360px;
$intro-height-M: 500px;
$intro-height-L: 680px;